<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>localForage Component Tests!</title>

    <link rel="stylesheet" href="/bower_components/mocha/mocha.css">

    <script src="/bower_components/assert/assert.js"></script>
    <script src="/bower_components/mocha/mocha.js"></script>

    <script src="/bower_components/expect/index.js"></script>

    <!-- Modernizr  -->
    <script src="/bower_components/modernizr/modernizr.js"></script>

    <!-- Test runner -->
    <script src="/test/runner.js"></script>

    <script src="/bower_components/es6-promise/promise.js"></script>

    <!-- localForage -->
    <script src="/test/localforage.component.js"></script>

    <script>
        /* jshint unused: false */
        window.localforage = require('localforage');
    </script>

    <!-- specs -->
    <script src="/test/test.api.js"></script>
    <script src="/test/test.config.js"></script>
    <script src="/test/test.datatypes.js"></script>
    <script src="/test/test.drivers.js"></script>
    <script src="/test/test.iframes.js"></script>
    <script src="/test/test.webworkers.js"></script>
    <script src="/test/test.serviceworkers.js"></script>
  </head>
  <body>
    <div id="mocha"></div>
  </body>
</html>
