{
  "extends": [
    "@octopusthink/eslint-config"
  ],
  // "globals": {
  //   "define": true,
  //   "localforage": true,
  //   "module": true,
  //   "require": true,
  //   "self": true,
  //   "System": true
  // }
}
