.DS_Store
.swp
bower_components
node_modules
components
test/localforage.component.js

# Logs + Sauce Labs Tests
*.log

### Ruby Stuff for slate docs
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache

# YARD artifacts
.yardoc
_yardoc
doc/
